@charset "utf-8";

/* PC版 */
/* tag */
body,
ul,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}


div,
ul,
li,
nav,
a {
    display: flex;
    box-sizing: border-box;
}


li {
    list-style: none;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: hsl(0, 0%, 66%);
}

img,
video {
    width: 100%;
}

h1,
h2,
h3 {
    font-size: 1.0em;
}



/* header */
.header-container {
    height: 70px;
    padding: 0 3%;
    justify-content: space-between;
    white-space: nowrap;
    background-color: hsl(235, 80%, 90%);
    /* box-shadow: 0 0px 10px 0 hsl(235, 30%, 70%); */

}


.header-title-container {
    align-items: center;
    font-size: 1.5rem;
}


.header-sns-list-item-a {
    padding: 0 10px;
    align-items: center;
    font-size: 1.2rem;
}

.header-sns-list-item-a:hover {
    background-color: hsl(235, 30%, 75%);
}



/* main */
.main-container {
    flex-flow: column;
    align-items: center;
    background-color: hsl(235, 50%, 98%);
}

.main-title-container {
    height: 70px;
    align-items: center;
    font-size: 1.5rem;
}

.main-category-container {
    height: 50px;
    align-items: center;
    white-space: nowrap;
    border-style: solid;
}


.main-works-container {
    margin-top: 40px;
}

.main-works-list {
    flex-wrap: wrap;
}



.main-works-list-item {
    margin-left: 14%;
    margin-bottom: 5%;
    width: 29%;
    flex-flow: column;
    /* align-items: flex-start; */
}



.main-work-title-container {
    font-size: 1.2rem;
}



.main-work-url-list {
    width: 100%;
    justify-content: space-between;
}


/* PC半画面 */

/* hedeer*/
/* @media screen and (max-width: 800px) {
    .header {
        padding: 3%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header .title {
        margin-top: 0;
        flex-basis: 100%;
        text-align: center;
    }

    .sns {
        flex-basis: 100%;
        justify-content: center;
    }

} */


/* スマホ版 */
/* hedeer */
@media screen and (max-width: 480px) {
    .header .title {
        margin: 0;
        transform: scale(0.8, 0.8);
    }

    .sns {
        transform: scale(0.8, 0.8);
    }
}


/* main */
@media screen and (max-width: 480px) {
    .works {
        justify-content: center;
    }

    .work {
        margin-bottom: 5%;
        flex-basis: 90%;
    }

    .main .title {
        font-size: 1.4em;
    }

    .work_title {
        font-size: 1.2em;
    }
}