@charset "utf-8";

/* PC版 */
/* tag */
body {
    margin: 0;
}


div {
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    display: flex;
    list-style: none;
}

nav {
    display: flex;
}


a {
    display: flex;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: hsl(0, 0%, 66%);
}

img,
video {
    width: 100%;
}

h1,
h2,
h3 {
    font-size: 1.0em;
    margin: auto;
}

p {
    margin: auto 0;
}


/* header */
.header-container {
    height: 60px;
    white-space: nowrap;
    background-color: hsl(235, 80%, 90%);
    box-shadow: 0 0px 10px 0 hsl(235, 50%, 80%);

}


.header-title-container {
    margin-left: 3%;
    font-size: 1.5rem;
}



.header-sns-container {
    margin-left: auto;
    margin-right: 3%;
    font-size: 1.2rem;
}


.header-sns-list-item-a-p {
    margin: auto 10px;
}


/* main */
.main-container {
    flex-flow: column;
    /* white-space: nowrap; */
}

.main-category-container {
    height: 50px;
    margin: 0 auto;

    white-space: nowrap;
}


.main-content-container {
    flex-flow: column;
}

.main-content-title-container {
    height: 70px;
    font-size: 1.5rem;
}


.main-content-works-list {
    flex-wrap: wrap;
}



.main-content-works-list-item {
    margin-left: 2.5%;
    margin-bottom: 2%;
    flex-basis: 30%;
    flex-flow: column;
}

.main-content-work-title-container {
    font-size: 1.2rem;
}


.main-content-work-url-list {
    margin: 0 auto;
}

.main-content-work-url-list-item {
    /* list-style: none;
    display: inline-block; */
}

/* PC半画面 */

/* hedeer*/
/* @media screen and (max-width: 800px) {
    .header {
        padding: 3%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header .title {
        margin-top: 0;
        flex-basis: 100%;
        text-align: center;
    }

    .sns {
        flex-basis: 100%;
        justify-content: center;
    }

} */


/* スマホ版 */
/* hedeer */
@media screen and (max-width: 480px) {
    .header .title {
        margin: 0;
        transform: scale(0.8, 0.8);
    }

    .sns {
        transform: scale(0.8, 0.8);
    }
}


/* main */
@media screen and (max-width: 480px) {
    .works {
        justify-content: center;
    }

    .work {
        margin-bottom: 5%;
        flex-basis: 90%;
    }

    .main .title {
        font-size: 1.4em;
    }

    .work_title {
        font-size: 1.2em;
    }
}